<!--suppress XmlUnboundNsPrefix -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
        bootstrap="ut/bootstrap.php"
>
    <testsuites>
        <testsuite name="all">
            <file>ut/SilexKernelTest.php</file>
            <file>ut/SilexKernelWebTest.php</file>
            <file>ut/FallbackViewHandlerTest.php</file>
            <file>ut/ErrorHandlers/WrappedExceptionInfoTest.php</file>
            <file>ut/ErrorHandlers/ExceptionWrapperTest.php</file>
            <file>ut/ErrorHandlers/JsonErrorHandlerTest.php</file>
            <file>ut/Configuration/HttpConfigurationTest.php</file>
            <file>ut/Configuration/SecurityConfigurationTest.php</file>
            <file>ut/Configuration/CrossOriginResourceSharingConfigurationTest.php</file>
            <file>ut/Configuration/TwigConfigurationTest.php</file>
            <file>ut/Configuration/CacheableRouterConfigurationTest.php</file>
            <file>ut/Configuration/SimpleAccessRuleConfigurationTest.php</file>
            <file>ut/Configuration/SimpleFirewallConfigurationTest.php</file>
            <file>ut/Configuration/ConfigurationValidationTraitTest.php</file>
            <file>ut/Views/AbstractSmartViewHandlerTest.php</file>
            <file>ut/Views/JsonViewHandlerTest.php</file>
            <file>ut/Views/DefaultHtmlRendererTest.php</file>
            <file>ut/Views/JsonApiRendererTest.php</file>
            <file>ut/Views/PrefilightResponseTest.php</file>
            <file>ut/Views/RouteBasedResponseRendererResolverTest.php</file>
            <file>ut/Routing/GroupUrlMatcherTest.php</file>
            <file>ut/Routing/GroupUrlGeneratorTest.php</file>
            <file>ut/Routing/CacheableRouterUrlMatcherWrapperTest.php</file>
            <file>ut/Routing/InheritableRouteCollectionTest.php</file>
            <file>ut/Routing/InheritableYamlFileLoaderTest.php</file>
            <file>ut/Routing/CacheableRouterTest.php</file>
            <file>ut/Routing/CacheableRouterProviderTest.php</file>
            <file>ut/Cookie/ResponseCookieContainerTest.php</file>
            <file>ut/Cookie/SimpleCookieProviderTest.php</file>
            <file>ut/Middlewares/AbstractMiddlewareTest.php</file>
            <file>ut/Security/NullEntryPointTest.php</file>
        </testsuite>
        <testsuite name="exceptions">
            <file>ut/HttpExceptionTest.php</file>
        </testsuite>
        <testsuite name="cors">
            <file>ut/Cors/CrossOriginResourceSharingTest.php</file>
            <file>ut/Cors/CrossOriginResourceSharingAdvancedTest.php</file>
        </testsuite>
        <testsuite name="security">
            <file>ut/Security/SecurityServiceProviderTest.php</file>
            <file>ut/Security/SecurityServiceProviderConfigurationTest.php</file>
            <file>ut/Security/NullEntryPointTest.php</file>
        </testsuite>
        <testsuite name="twig">
            <file>ut/Twig/TwigServiceProviderTest.php</file>
            <file>ut/Twig/TwigServiceProviderConfigurationTest.php</file>
        </testsuite>
        <testsuite name="aws">
            <file>ut/AwsTests/ElbTrustedProxyTest.php</file>
        </testsuite>
        <testsuite name="error-handlers">
            <file>ut/ErrorHandlers/WrappedExceptionInfoTest.php</file>
            <file>ut/ErrorHandlers/ExceptionWrapperTest.php</file>
            <file>ut/ErrorHandlers/JsonErrorHandlerTest.php</file>
        </testsuite>
        <testsuite name="configuration">
            <file>ut/Configuration/HttpConfigurationTest.php</file>
            <file>ut/Configuration/SecurityConfigurationTest.php</file>
            <file>ut/Configuration/CrossOriginResourceSharingConfigurationTest.php</file>
            <file>ut/Configuration/TwigConfigurationTest.php</file>
            <file>ut/Configuration/CacheableRouterConfigurationTest.php</file>
            <file>ut/Configuration/SimpleAccessRuleConfigurationTest.php</file>
            <file>ut/Configuration/SimpleFirewallConfigurationTest.php</file>
            <file>ut/Configuration/ConfigurationValidationTraitTest.php</file>
        </testsuite>
        <testsuite name="views">
            <file>ut/Views/AbstractSmartViewHandlerTest.php</file>
            <file>ut/Views/JsonViewHandlerTest.php</file>
            <file>ut/Views/DefaultHtmlRendererTest.php</file>
            <file>ut/Views/JsonApiRendererTest.php</file>
            <file>ut/Views/PrefilightResponseTest.php</file>
            <file>ut/Views/RouteBasedResponseRendererResolverTest.php</file>
        </testsuite>
        <testsuite name="routing">
            <file>ut/Routing/GroupUrlMatcherTest.php</file>
            <file>ut/Routing/GroupUrlGeneratorTest.php</file>
            <file>ut/Routing/CacheableRouterUrlMatcherWrapperTest.php</file>
            <file>ut/Routing/InheritableRouteCollectionTest.php</file>
            <file>ut/Routing/InheritableYamlFileLoaderTest.php</file>
            <file>ut/Routing/CacheableRouterTest.php</file>
            <file>ut/Routing/CacheableRouterProviderTest.php</file>
        </testsuite>
        <testsuite name="cookie">
            <file>ut/Cookie/ResponseCookieContainerTest.php</file>
            <file>ut/Cookie/SimpleCookieProviderTest.php</file>
        </testsuite>
        <testsuite name="middlewares">
            <file>ut/Middlewares/AbstractMiddlewareTest.php</file>
        </testsuite>
        <testsuite name="misc">
        </testsuite>
        <testsuite name="integration">
        </testsuite>
    </testsuites>
</phpunit>
