<!--suppress XmlUnboundNsPrefix -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        failOnRisky="true"
        failOnWarning="true"
        failOnDeprecation="true"
        failOnNotice="true"
>
    <testsuites>
        <testsuite name="exceptions">
            <file>tests/Misc/UniquenessViolationHttpExceptionTest.php</file>
            <file>tests/HttpExceptionTest.php</file>
        </testsuite>
        <testsuite name="cors">
            <file>tests/Cors/CrossOriginResourceSharingTest.php</file>
            <file>tests/Cors/CrossOriginResourceSharingAdvancedTest.php</file>
            <file>tests/Cors/CrossOriginResourceSharingStrategyTest.php</file>
        </testsuite>
        <testsuite name="security">
            <file>tests/Security/SecurityServiceProviderTest.php</file>
            <file>tests/Security/SecurityServiceProviderConfigurationTest.php</file>
            <file>tests/Security/NullEntryPointTest.php</file>
            <file>tests/Security/AccessRuleListenerTest.php</file>
            <file>tests/Security/AbstractSimplePreAuthenticationPolicyTest.php</file>
            <file>tests/Security/AbstractPreAuthenticatorTest.php</file>
            <file>tests/Security/AbstractSimplePreAuthenticateUserProviderTest.php</file>
            <file>tests/Security/SimpleAccessRuleSettersTest.php</file>
            <file>tests/Security/SecurityScenarioTest.php</file>
        </testsuite>
        <testsuite name="twig">
            <file>tests/Twig/TwigServiceProviderTest.php</file>
            <file>tests/Twig/TwigServiceProviderConfigurationTest.php</file>
        </testsuite>
        <testsuite name="aws">
            <file>tests/AwsTests/ElbTrustedProxyTest.php</file>
            <file>tests/AwsTests/CloudfrontTrustedProxiesUnitTest.php</file>
        </testsuite>
        <testsuite name="error-handlers">
            <file>tests/ErrorHandlers/WrappedExceptionInfoTest.php</file>
            <file>tests/ErrorHandlers/ExceptionWrapperTest.php</file>
            <file>tests/ErrorHandlers/JsonErrorHandlerTest.php</file>
            <file>tests/ErrorHandlers/ErrorHandlerScenarioTest.php</file>
            <file>tests/ErrorHandlers/ErrorHandlerFixRegressionTest.php</file>
        </testsuite>
        <testsuite name="configuration">
            <file>tests/Configuration/HttpConfigurationTest.php</file>
            <file>tests/Configuration/SecurityConfigurationTest.php</file>
            <file>tests/Configuration/CrossOriginResourceSharingConfigurationTest.php</file>
            <file>tests/Configuration/TwigConfigurationTest.php</file>
            <file>tests/Configuration/CacheableRouterConfigurationTest.php</file>
            <file>tests/Configuration/SimpleAccessRuleConfigurationTest.php</file>
            <file>tests/Configuration/SimpleFirewallConfigurationTest.php</file>
            <file>tests/Configuration/ConfigurationValidationTraitTest.php</file>
        </testsuite>
        <testsuite name="routing">
            <file>tests/Routing/GroupUrlMatcherTest.php</file>
            <file>tests/Routing/GroupUrlGeneratorTest.php</file>
            <file>tests/Routing/CacheableRouterUrlMatcherWrapperTest.php</file>
            <file>tests/Routing/InheritableRouteCollectionTest.php</file>
            <file>tests/Routing/InheritableYamlFileLoaderTest.php</file>
            <file>tests/Routing/CacheableRouterTest.php</file>
            <file>tests/Routing/CacheableRouterProviderTest.php</file>
            <file>tests/Routing/MicroKernelRouteInjectionTest.php</file>
            <file>tests/Routing/MicroKernelRoutePreservationTest.php</file>
            <file>tests/Routing/FrozenRouteCollectionTest.php</file>
            <file>tests/Routing/MicroKernelRouteInjectionIntegrationTest.php</file>
            <file>tests/Routing/RouteCacheIsolationTest.php</file>
            <file>tests/Routing/RoutingScenarioTest.php</file>
            <file>tests/Routing/MicroKernelRouteOverwriteTest.php</file>
        </testsuite>
        <testsuite name="cookie">
            <file>tests/Cookie/ResponseCookieContainerTest.php</file>
            <file>tests/Cookie/SimpleCookieProviderTest.php</file>
        </testsuite>
        <testsuite name="middlewares">
            <file>tests/Middlewares/AbstractMiddlewareTest.php</file>
            <file>tests/Middlewares/MiddlewareScenarioTest.php</file>
        </testsuite>
        <testsuite name="misc">
            <file>tests/Misc/ExtendedArgumentValueResolverTest.php</file>
            <file>tests/Misc/ExtendedExceptionListnerWrapperTest.php</file>
            <file>tests/Misc/ChainedParameterBagDataProviderTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <file>tests/Integration/BootstrapConfigurationIntegrationTest.php</file>
            <file>tests/Integration/SecurityAuthenticationFlowIntegrationTest.php</file>
            <file>tests/Integration/SilexKernelCrossCommunityIntegrationTest.php</file>
        </testsuite>
        <testsuite name="kernel">
            <file>tests/SilexKernelTest.php</file>
            <file>tests/MicroKernelSupplementaryTest.php</file>
            <file>tests/ConvenienceMethodsTest.php</file>
            <file>tests/Layer2ConvenienceMethodsTest.php</file>
            <file>tests/CoverageGapTest.php</file>
            <file>tests/CoverageGapSupplementaryTest.php</file>
            <file>tests/Kernel/SecurityTraitCoverageTest.php</file>
        </testsuite>
        <testsuite name="kernel-web">
            <file>tests/SilexKernelWebTest.php</file>
        </testsuite>
        <testsuite name="views">
            <file>tests/Views/AbstractSmartViewHandlerTest.php</file>
            <file>tests/Views/JsonViewHandlerTest.php</file>
            <file>tests/Views/DefaultHtmlRendererTest.php</file>
            <file>tests/Views/JsonApiRendererTest.php</file>
            <file>tests/Views/PrefilightResponseTest.php</file>
            <file>tests/Views/RouteBasedResponseRendererResolverTest.php</file>
            <file>tests/FallbackViewHandlerTest.php</file>
        </testsuite>
        <testsuite name="migration">
            <file>tests/MigrationGuideValidationTest.php</file>
            <file>tests/MigrateCheckScriptTest.php</file>
            <file>tests/PBT/MigrateCheckPropertyTest.php</file>
        </testsuite>
        <testsuite name="pbt">
            <directory>tests/PBT</directory>
            <exclude>tests/PBT/MigrateCheckPropertyTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
